
body {
    font-family: Courier, Monospace;
    height: 100%vh;
}

.listitem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin:5%;
    padding: 5%;
    border: 1px solid white;
    background-color: darkgrey;
    border-radius: 5px;
    
    
}